{
  "extends": "standard",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [
      "warn",
      "backtick"
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "array-bracket-spacing": [
      "warn",
      "always"
    ],
    "indent": [
      "error",
      2,
      {
        "MemberExpression": 1
      }
    ],
    "newline-per-chained-call": "warn",
    "no-whitespace-before-property": "error"
  }
}
